<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">ranger</ansi>

Ranger is one of the jobs available to players, and has 2 skills areas
to train in.

The following skills are required to become a Ranger:

- <ansi fg="skill">Map</ansi>
- <ansi fg="skill">Track</ansi>

In a fight a ranger is trained for medium armor and may carry a buckler,
but no larger shield. Rangers start with 6 more health and gain 0.8 a
level, Attack 1 and Evasion 0.9 a level (<ansi fg="command">help shields</ansi>, <ansi fg="command">help armor</ansi>,
<ansi fg="command">help evasion</ansi>).

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help jobs</ansi>, <ansi fg="command">help archetype</ansi>
