<ansi fg="yellow-bold">You reach level {{ .level }}.</ansi>
 Health {{ .healthBefore }} -> {{ .healthAfter }}   Mana {{ .manaBefore }} -> {{ .manaAfter }}
 Attack {{ .attackBefore }} -> {{ .attackAfter }}   Evasion {{ .evasionBefore }} -> {{ .evasionAfter }}
{{ if ne .statsBefore.Strength.ValueAdj .statsAfter.Strength.ValueAdj }} Strength {{ .statsBefore.Strength.ValueAdj }} -> {{ .statsAfter.Strength.ValueAdj }}
{{ end }}{{ if ne .statsBefore.Speed.ValueAdj .statsAfter.Speed.ValueAdj }} Speed {{ .statsBefore.Speed.ValueAdj }} -> {{ .statsAfter.Speed.ValueAdj }}
{{ end }}{{ if ne .statsBefore.Smarts.ValueAdj .statsAfter.Smarts.ValueAdj }} Smarts {{ .statsBefore.Smarts.ValueAdj }} -> {{ .statsAfter.Smarts.ValueAdj }}
{{ end }}{{ if ne .statsBefore.Vitality.ValueAdj .statsAfter.Vitality.ValueAdj }} Vitality {{ .statsBefore.Vitality.ValueAdj }} -> {{ .statsAfter.Vitality.ValueAdj }}
{{ end }}{{ if ne .statsBefore.Mysticism.ValueAdj .statsAfter.Mysticism.ValueAdj }} Mysticism {{ .statsBefore.Mysticism.ValueAdj }} -> {{ .statsAfter.Mysticism.ValueAdj }}
{{ end }}{{ if ne .statsBefore.Perception.ValueAdj .statsAfter.Perception.ValueAdj }} Perception {{ .statsBefore.Perception.ValueAdj }} -> {{ .statsAfter.Perception.ValueAdj }}
{{ end }} Training Points: +{{ .trainingPoints }}   Stat Points: +{{ .statPoints }}{{ if .livesUp }}   Extra Lives: +{{ .livesUp }}{{ end }}
{{ range .powerLines }} {{ . }}
{{ end }}{{ range .classRanks }} <ansi fg="yellow">{{ . }}</ansi>
{{ end }} Next: {{ .nextMilestone }}
{{ range .classNotes }} {{ . }}
{{ end }}{{ if .classMilestone }} {{ .classMilestone }}
{{ end }} Type <ansi fg="command">stat train</ansi> to spend your extra Stat Points.
 See <ansi fg="command">help progression</ansi> and <ansi fg="command">help evasion</ansi>.
